@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 120 60% 67%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --primary-1: 120 60% 67%; /*green*/
    --secondary1: 0 0% 73%; /*gray text color*/
    --background-gray: 0 0% 53%; /* dark gray */
    --border-color-check: 0 0% 37%; /* check box border */
    --secondary-foreground1: 0 0% 100%; /*white*/
    --background-color: 0 0% 97%; /*background-color*/
    --text-main-color: 0 0% 0%; /*main text color*/
    --bg-secondary-red: 1 100% 77%; /*red color failer*/
    --bg-outlet-background: 0 0% 96.9%; /* outlet one bg- f7f7f7 */
    --table-header-color: 0 0% 96.1%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --pc-green: 81, 53%, 47%, --pc-red: 348, 69%, 57%, --pc-yellow: 36, 79%, 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rdp-vhidden {
  @apply hidden;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin buttons for number inputs on Firefox */
.number-input[type="number"] {
  -moz-appearance: textfield;
}

* {
  font-family: "Poppins";
}

.custom-scrollbar {
  overflow-y: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #77dd77;
  border-radius: 20px;
  outline: 1px solid #77dd77;
}

.custom-scrollbar-right {
  overflow-y: auto;
  direction: rtl;
}
.custom-scrollbar-right::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar-right::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.custom-scrollbar-right::-webkit-scrollbar-thumb {
  background-color: #77dd77;
  border-radius: 20px;
  outline: 1px solid #77dd77;
}

/* Change background color of the input when it is focused (dropdown open) */

/* Change the background color of the selected time */

/* Change the background color when hovering over the dropdown times */
/* .time-input[type="time"]::-webkit-datetime-edit-hour-field:hover {
  background-color: #77dd77; /* Example color */
/* } */

.form__error {
  display: inline-block;
  margin: 0.25rem 0 1rem;
  color: palevioletred;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: green;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.loading {
  opacity: 20;
  transition: opacity 0.5s ease-in-out;
}

.react-international-phone-input-container:focus-within {
  outline: 2px solid #77dd77;
  padding: 1.5px;
  border-radius: 6px;
}

/* Styles for the receipt */
.printable-receipt {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Hide all other elements when printing */
@media print {
  body * {
    visibility: hidden;
  }

  .printable-receipt,
  .printable-receipt * {
    visibility: visible;
  }

  /* Ensure the receipt takes the full screen during print */
  .printable-receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
